$body-background:		#ebebeb;


.body
{
	background: $body-background;
}


/***********************************************************************************/
/* Nav */
$nav: #eeeeee;

.nav
{
	width: 100%;
	position: fixed;
	top: 0;
	padding: 13px;
	height: 25px;
	background: $nav;
}

.button
{
	position: fixed;
	top: 4px;
	right: 4px;
}



/***********************************************************************************/
/* Section */
$article-background:	#fefefe;
$extract:               #fefefe;

.section
{
	vertical-align: middle;
	margin: 20% auto 0 auto;
	width: 80%;
	max-width: 800px;
	@include pie-clearfix;
}

.article
{
	width: 100%;
	margin-bottom: 50px;
	background: $article-background;
	@include border-radius(7px);
}