$body-background:		rgb(250, 250, 250);


.body
{
	background: $body-background;
	width: 100%;
}


/***********************************************************************************/
/* Nav */
$nav: rgba(230, 230, 230, 0.9);

.nav
{
	width: 100%;
	position: fixed;
	top: 0;
	padding: 13px;
	height: 24px;
	background: $nav;

	z-index: 10;
}

.button
{
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
	height: 50px;
}



/***********************************************************************************/
/* Section */
$article-background:	rgba(250, 250, 250, 0);
$extract:               #fefefe;
$hide: 					$body-background;

@mixin section-base
{
	position: absolute;
	top:0;

	margin: 0;
	width: 100%;
	max-width: 100%;
	padding: 120px 10%;

	@include box-sizing(border-box);

	@include pie-clearfix;
}

.section-visible
{
	@include section-base;
	z-index: 5;
}

.section-invisible
{
	@include section-base;
	color: $article-background;
	text-shadow: 0 0 4px black;
	height: 50px;
	z-index: 1;
	font-weight: 700;

	.img-present
	{
		box-shadow: 0 0 10px black;
	}
}

.hide-invisible
{
	position: fixed;
	top: 50px;
	width: 100%;
	height: 100%;
	background: $hide;
	z-index: 2;
}

.article
{
	margin: 40px auto 60px auto;
	background: $article-background;
	max-width: 800px;
}