$button: #e67e22;
$button-color: #fefefe;

.button
{
	background: $button;
	border: none;
	color: $button-color;
	padding: 0 20px;
	font-size: 1em;

	&:hover, &:active, &:focus
	{
		background: darken($button, 5%);
	}
}


.img-present
{
	display: block;
	margin: 0 auto 70px;
	width: 100%;
	max-width: 800px;
	max-height: 263px;
	overflow: hidden;
}