$button: #e67e22;
$button-color: #fefefe;

.button
{
	background: $button;
	border: none;
	color: $button-color;
	padding: 0 20px;
	font-size: 1em;

	&:hover, &:active, &:focus
	{
		background: darken($button, 5%);
	}
}